@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header {
  position: relative;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

header .logo-img {
  height: 50px;
  width: 100px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li{
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
  transition: color 500ms ease;
}

header ul.nav li section {
  position: relative;
}

header ul.nav li a {
  text-decoration: none;
}

header ul.nav li:hover {
  color: black;
}

.shop-card-btn {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
  font-size: 26px;
  margin-right: 25px;
}

.save-card-btn {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
  font-size: 26px;
}

header .save-card-btn:hover,
header .save-card-btn.active {
  color: gold;
  transform: scale(1.5);
}

header .shop-card-btn:hover,
header .shop-card-btn.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

.item-count-save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  background: goldenrod;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 16px;
  left: 90%;
  font-size: 14px;
  font-weight: 600;
}
.item-count-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  background: #dc3d3d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 16px;
  left: 90%;
  font-size: 14px;
  font-weight: 600;
}


/*.main_shop-block {*/
/*  !*width: 100%;*!*/
/*  margin-top: 40px;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, 1fr);*/
/*  place-items: center;*/
/*  gap: 15px;*/
/*  width: 100%;*/
/*}*/

/*.main_shop-block .item {*/
/*  width: 250px;*/
/*  min-height: 300px;*/
/*  background: #bcbcbc;*/
/*  border-radius: 10px 10px 0 0;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  position: relative;*/
/*}*/

/*.main_shop-block .item h2 {*/
/*  min-height: 30px;*/
/*  text-align: center;*/
/*  margin: 10px 0;*/
/*}*/



.main_route-card {
  /*display: flex;*/
  /*width: 100%;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  place-items: center;
}

.main_route-card .item {
  height: 350px;
  width: 260px;
  margin-bottom: 50px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  /*position: relative;*/
  padding-bottom: 20px;
}

.main_route-card .item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

.main_route-card .item img:hover {
  transform: scale(1.05);
}

.main_route-card h2, .main_route-card p, .main_route-card b {
  margin: 10px 20px;
  color: #333;
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fafafa;
  z-index: 5;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  position: relative;
}

header .shop-cart .item img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item b {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
}

header .shop-cart .item span {
  position: absolute;
  top: 30%;
  left: 65%;
}

header .shop-cart .item .delete-icon {
    color: #ca5252;
    float: right;
    position: relative;
    top: -15px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: #d83030;
}

header .save-cart {
  position: absolute;
  top: 30px;
  right: 490px;
  width: 450px;
  background: #fafafa;
  z-index: 5;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
}


header .save-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .save-cart .item img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

header .save-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .save-cart .item p {
  color: #797979;
  font-weight: 600;
}

header .save-cart .item b {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
}

header .save-cart .item .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  top: -15px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .save-cart .item .delete-icon:hover {
  color: #d83030;
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

header .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .presentation {
  margin: 50px 0;
  background: url("./images/back-image.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header .presentation::after {
  content: "Кращі товари для вашого дому";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

header .presentation::before {
  content: "По низьким цінам";
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

footer {
  text-align: center;
  margin-top: 100px;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: center;
}

.categories div {
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-top: 50px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

main {
  /*display: flex;*/
  /*width: 100%;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  place-items: center;
}

main .item {
  width: 260px;
  height: 350px;
  margin-bottom: 50px;
  background: #f5f5f5;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  /*position: relative;*/
  padding-bottom: 20px;
}

main .item img {
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2, main p, main b {
  margin: 10px 20px;
  color: #333;
}

main b {
  color: #5fa35a;
}

main .add_card {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
  user-select: none;
}

main .add_card:hover {
  transform: scale(1.05) translateY(-3px);
}

main .add_card-disabled {
  /*display: none;*/
}

main .add_card-disabled:hover {
  transform: none;
}

main .add-wrapper {
  position: relative;
}

main .add_favorite-star {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  right: 70px;
  bottom: 7px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  /*color: #222222;*/
  cursor: pointer;
  font-weight: 600;
  font-size: 44px;
  transition: transform 500ms ease;
}

main .add_favorite-star:hover {
  transform: scale(1.05) translateY(-3px);
}

main .add_favorite-star .saved {
  color: gold;
}

.close-modal {
  margin-top: 15px;
  margin-right: 20px;
  font-size: 25px;
  color: #ca5252;
}

.modal-buy {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 35px;
  background: #333333;
  height: 250px;
  width: 400px;
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.modal-buy h2 {
  font-size: 24px;
  font-weight: 600;
  color: burlywood;
  text-align: center;
  height: 125px;
}

.modal-buy section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal-buy button {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background: #f2f2f2;
  cursor: pointer;
  border: none;
  transition: all 500ms ease;
}

.modal-buy button:hover {
  border-color: silver;
  background: burlywood;
}

.modal-delete {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 15px;
  background: #fafafa;
  z-index: 5;
  padding: 0 10px 10px 10px;
  padding-bottom: 0;
  border: 1px solid #222222;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
  height: 120px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-delete h2 {
  font-size: 20px;
  font-weight: 600;
  color: burlywood;
  text-align: center;
  /*height: 35px;*/
  margin-top: 10px;
}

.modal-delete section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal-delete button {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background: #f2f2f2;
  cursor: pointer;
  border: none;
  transition: all 500ms ease;
}

.modal-delete button:hover {
  border-color: silver;
  background: burlywood;
}

.blur-wrapper {
  position: fixed;
  overflow: auto;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.route_title {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid black;
  border-radius: 25px;
  text-align: center;
  margin-top: 80px;
}

